[gerrit]
        basePath = /srv/git
        serverId = 718c11fb-5d34-4801-afa7-c19862b9a7ba
        canonicalWebUrl = http://lab-git:8080/
[database]
        type = h2
        database = /home/gerrit/gerrit_webui/db/ReviewDB
[index]
        type = LUCENE
[auth]
        type = LDAP
        gitBasicAuthPolicy = LDAP
 [ldap]
   server = ldap://localhost:389
   username = cn=sv10g,ou=Users,dc=intel,dc=com
   password = $giga
   accountBase = ou=Users,dc=intel,dc=com
   accountPattern = (&(objectClass=inetOrgPerson)(uid=${username}))
   accountFullName = displayName
   accountSshUserName = uid
   accountEmailAddress = mail

   groupBase = ou=Users,dc=intel,dc=com
   groupPattern = (&(objectClass=groupOfNames)(cn=${groupname}))
   groupMemberPattern = (&(objectClass=groupOfNames)(member=${dn}))
   groupName = cn
[receive]
        enableSignedPush = false
[sendemail]
        smtpServer = localhost
[container]
        user = gerrit
        javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.141-2.b16.el6_9.x86_64/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
[gitweb]
        type = gitweb
        cgi = /var/www/git/gitweb.cgi
